@font-face {
	font-family: "Frutiger45Light";
	src: url("../fonts/frutiger-45light.eot");
	src: url("../fonts/frutiger-45light.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/frutiger-45light.woff") format("woff"), 
		url("../fonts/frutiger-45light.ttf") format("truetype"), 
		url("../fonts/frutiger-45light.svg#Frutiger45Light") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Frutiger46Italic";
	src: url("../fonts/frutiger-46lightitalic.eot");
	src: url("../fonts/frutiger-46lightitalic.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/frutiger-46lightitalic.woff") format("woff"), 
		url("../fonts/frutiger-46lightitalic.ttf") format("truetype"), 
		url("../fonts/frutiger-46lightitalic.svg#Frutiger46Italic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Frutiger55";
	src: url("../fonts/frutiger-55roman.eot");
	src: url("../fonts/frutiger-55roman.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/frutiger-55roman.woff") format("woff"), 
		url("../fonts/frutiger-55roman.ttf") format("truetype"), 
		url("../fonts/frutiger-55roman.svg#Frutiger55") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Frutiger65Bold";
	src: url("../fonts/frutiger-65bold.eot");
	src: url("../fonts/frutiger-65bold.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/frutiger-65bold.woff") format("woff"), 
		url("../fonts/frutiger-65bold.ttf") format("truetype"), 
		url("../fonts/frutiger-65bold.svg#Frutiger65Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

html{
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(151,217,243,0.7);
}

body { -webkit-font-smoothing: antialiased;}
body b, body strong { font-family:Frutiger65Bold; font-weight:normal; }

*::-moz-placeholder {
    color: #fff;
    opacity: 1;
}


/******** GLOBAL ELEMENTS SCSS ********/

.row{
	margin-bottom: 0px;
}

a:active, a:hover {
    outline: 0;
    outline-offset: 0;
}

a{
	text-decoration:none;
}

.clear-fix{
	clear:both;
}

.no-padding{
	padding:0;
}


@media screen and (min-width: $breakpoint2){	
	.row {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: $breakpoint3){

}
