@font-face {
  font-family: $primary-font;
  src: url('/assets/fonts/digital/frutiger-45light.eot'),
  url('/assets/fonts/digital/frutiger-45light.woff') format('woff'),
  url('/assets/fonts/digital/frutiger-45light.ttf') format('truetype'),
  url('/assets/fonts/digitalfrutiger-45light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}