[component-name~=textBlock] {
	.text-component{
		padding: 40px 0 0;
	    border-bottom: 5px solid $colorGrey11;
		
		h3{
			&.title{
				@include font-size(40);
			    text-transform: uppercase;
			    text-align: center;
			    margin-bottom: 35px;
			    color: $colorBase;

			    &:after, &:before {
				    border: 4px double $colorGreyDarkest;
				    width: 7%;
				    display: inline-block;
				    content: "";
				    margin: 9px 10px;
				}
			}
		}

		p{
			&.content{
				color: $colorText;
			    line-height: 2.2em;
			    text-align: center;
			    @include font-size(14);
			    width: 75%;
			    margin: 0 auto 20px;
			}
		}
	}

	@media screen and (min-width: $breakpoint2){
		.text-component{
			padding: 70px 0 0;
			h3{
				&.title{
					&:after, &:before{
						width: 64px;
					}
				}
			}
		}
	}

	@media screen and (min-width: $breakpoint3){
		.text-component{
			padding: 90px 0 0;
			h3{
				&.title{
					&:after, &:before{
						width: 87px;
					}
				}
			}
		}
	}

	@media screen and (min-width: $breakpoint4){
		.text-component{
			padding: 90px 0 0;
			h3{
				&.title{
					&:after, &:before{
						width: 120px;
					}
				}
			}
		}
	}
}
