//BaseColors

$white: #fff;
$black: #000;
$body-color: #f8f8f8;

// Accents
$primary-accent-color: #419eda;
$component-background-color-light: #efefef;
$component-background-color-dark: #e7e7e7;
$component-background-shadow: #e3e3e3;
$menu-item-hover: #E7EBF0;

// Text
$light-text-color: $white;
$dark-text-color: #032b5a;

// Fonts
$primary-font: Frutiger45Light, sans-serif;
$primary-font-bold: Frutiger45Bold, sans-serif;
$primary-font-roman: Frutiger45Roman, sans-serif;
$primary-font-italic: Frutiger46Italic, sans-serif;
$secondary-font-roman: Frutiger55Roman, sans-serif;
$secondary-font: Frutiger55, sans-serif;

//********** Pallete
$colorRed: #990000;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlueDark: #032b5a;
$colorBlueDarker: #061f47;
$colorBlueLight: #419eda;
$colorGreyDark: #efefef;
$colorGreyDarker: #d8d8d8;
$colorGreyDarkest: #8e97a8;
$colorGreyLight: #f8f8f8;

$colorGrey2: #ececec;
$colorGrey3: #ebebeb;
$colorGrey4: #f9f9f9;
$colorGrey5: #eaeaea;
$colorGrey6: #d9d9d9;
$colorGrey7: #f7f7f7;
$colorGrey8: #e3e3e3;
$colorGrey9: #d0d0d0;
$colorGrey10: #dbdbdb;
$colorGrey11: #E4E4E4;

$colorBlue2: #449ed0;

$colorBase: #1064af;
$colorText: #464646;


// Breakpoint variables
$breakpoint1: 320px;
$breakpoint2: 575px;
$breakpoint3: 768px;
$breakpoint4: 992px;
$breakpoint5: 1200px;

$base-font-size: 16;
